<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
    <ui:composition template="template.xhtml">
      <ui:define name="content">
          <h:form>
             <h2>Koš</h2>
            <h:dataTable border="0" value="#{orderBean.order.furniture}"
                             var="furn">
                <h:column>
                    <tr><td>#{furn.name}</td><td>#{furn.price}</td><td>
                            <h:commandButton value="Odebrat" action="#{orderBean.order.removeFurniture(furn.furnitureID)}" />
                        </td>
                    </tr>
                </h:column>
            </h:dataTable>
             <h:commandButton action="#{ orderBean.clear() }" value="Smazat nákup"></h:commandButton> 
            <h:commandButton action="#{ orderBean.store() }" value="Potvrdit nákup"></h:commandButton> 
            <h:button outcome="index" value="Zrušit"></h:button> 
            </h:form>
      </ui:define>
  </ui:composition>
</html>
